.tab-item {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: #7b8794;
  padding: 10px 22px 10px 22px;
  border-bottom: 3px solid #dfe2e5;
  cursor: pointer;
}

.tab-item-active {
  font-size: 22px;
  font-weight: 500;
  padding: 10px 22px 20px 22px;
  border-bottom: 3px solid #2563eb;
  border-top: 1px solid #00ad9f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  color: #2563eb;
}

button {
  border-width: 0;
  outline: none;
  background-color: transparent;
}

li {
  list-style: none;
}

@media (min-width: 768px) {
  .tab-item {
    font-size: 24px;
  }

  .tab-item-active {
    padding: 10px 22px 17px 22px;
    border-bottom: 4px solid #2563eb;
  }

  .tab-item-active {
    font-size: 22px;
    font-weight: 500;
    padding: 10px 22px 20px 22px;
    border-bottom: 3px solid #2563eb;
    border-top: 2px solid #00ad9f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    color: #2563eb;
  }
}
