.app-container {
  background-color: #ffffff;
  border-radius: 18px;
  margin: 6px;
  height: 220px;
  max-height: 300px;
  width: 200px;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

.app-image {
  height: 85px;
  margin: 17px 5px 5px 5px;
}

.app-name {
  font-size: 22px;
  font-weight: 400;
  color: #1e293b;
  margin: 17px 5px 5px 5px;
}

.install-btn {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  background-color: #1e293b;
  margin: 15px;
  padding: 6px 17px 6px 17px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .app-container {
    margin: 10px;
    height: 215px;
    width: 220px;
  }
}
